@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
.container {
    display: grid;
    grid-template-columns: 45px 1fr 45px;
    grid-template-rows: 45px 1fr 45px;
    /* height: 100vh; */
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--offwhite);
    margin: auto;
}
.content{
    grid-column: 2;
    grid-row:2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin:auto;
}
.arrow {
    height: 20px;
    width: 20px;
    border: solid #3d4244;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
}
.right-arrow-div{
    grid-column: 3;
    grid-row:2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    cursor:pointer;
}
.left-arrow-div{
    grid-column: 1;
    grid-row:2; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    flex: 0 0 content;
    width: 100%;
    height: auto;
    display: none;
}
.image.active{
    display:block;
}
.indicators{
    grid-column: 2;
    grid-row:3;
    display: flex;
    justify-content: center;
    column-gap: 3px;
}
.indicators li{
    height:10px;
    width: 10px;
    border-radius: 10px;
    cursor: pointer;
    display:inline-block;
    border:1px solid black;
}
.indicators li.active{
    background-color: grey;
}
.indicators li:hover{
    background-color: grey;
}